{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }]
    ],
    "plugins": ["transform-react-jsx", "transform-object-rest-spread"]
  }